$section-clients-bck: rgba($dark-color, .95)

.section
  padding:
    bottom: 90px
    top: 90px

  &--light
    background-color: $section--bck-light

  &--graphite
    background-color: $section--bck-graphite

  &--clients
    background: linear-gradient($section-clients-bck, $section-clients-bck), url('../images/client-section-bck.jpg')

  &__wrapper
    margin: 0 auto
    max-width: 1170px
    width: 90%

  &__header
    border-left: 2px solid $border-color--accent
    color: $text--color-dark
    max-width: 750px
    padding-left: 15px
    position: relative

    &::before
      color: $section-number--color-dark
      content: attr(data-section-number)
      font:
        family: $font-family--secondary
        size: 194px
      line-height: .75
      position: absolute
      top: 50%
      transform: translateY(-50%)

    &--light
      color: $text--color-light

      &::before
        color: $section-number--color-light

  &__content
    margin-top: 60px

  &__title
    color: inherit
    font:
      family: $font-family--primary
      size: 30px
      weight: $font-weight--normal
    line-height: 1.2
    margin-bottom: .5em

  &__subtitle
    color: $text--color-muted
    font:
      family: $font-family--primary
      size: 20px
      weight: $font-weight--normal

    &--light
      color: $section-subtitle--color--light
