$switch: false
$faq-list-item-space: 15px
$faq-content-bck: $accent-color
$faq-content-radius: 5px
$faq-content-shadow-color: rgba($tacha, .32)

@mixin bck($color)
  @if $switch
    background-color: $color

.faq
  display: flex
  flex-wrap: wrap
  box-sizing: border-box

  &__list
    @include bck(red)
    box-sizing: border-box
    flex-basis: 50%
    list-style-type: none
    padding:
      left: 0
      right: 30px

  &__list-item
    display: flex
    box-sizing: border-box
    color: $text--color-light
    cursor: pointer
    border-bottom: $border-color--accent 2px solid
    font:
      family: $font-family--secondary
      size: $text-size--small
      weight: $font-weight--bold
    padding:
      top: $faq-list-item-space
      bottom: $faq-list-item-space

    &::after
      content: '\f067'
      align-self: center
      font-family: FontAwesome
      color: $text--color-light
      margin-left: auto


    &--selected
      color: $text--color-accent
      &::after
        content: '\f068'

  &__content
    display: flex
    flex-basis: 50%
    box-sizing: border-box
    position: relative
    background-color: $faq-content-bck
    box-shadow: 0 12px 40px $faq-content-shadow-color
    border-radius: $faq-content-radius
    overflow: hidden

  &__item
    display: flex
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding-right: 20px
    margin: 40px
    opacity: 0
    overflow: auto
    transform: translateX(30%)
    transition: .5s ease-in-out

    &--visible
      opacity: 1
      transform: none

  &__text
    color: $text--color-dark
    font:
      family: $font-family--secondary
      size: $text-size--small
      weight: $font-weight--normal
    line-height: 2.5
