.button
  border: 0
  border-radius: 2em
  color: $button-color--primary
  cursor: pointer
  display: inline-block
  font-family: $font-family--primary
  font-size: 16px
  font-weight: $font-weight--bold
  padding: .875em 3em
  text-decoration: none

  &--primary
    background-color: $button-bck--primary

  &:hover
    background-color: darken($button-bck--primary, 5%)
