// =================================
// Colors
// =================================

// Basic colors used by other variables
$white: #fff
$cod-gray: #111
$dove-gray: #666
$porche: #e8bf5d
$silver: #b9b9b9

// Base colors
$light-color: $white
$default-color: $dove-gray
$dark-color: $cod-gray
$accent-color: $porche

// Header
$header-bck: $light-color
$h1--color-light: $light-color

// Sections
$section--bck-light: $light-color
$section--bck-graphite: $dark-color
$section-number--color-dark: rgba($dark-color, .05)
$section-number--color-light: rgba($light-color, .05)
$section-subtitle--color--light: $silver
// Footer
$footer--bck-dark: $dark-color

// Headings
$heading--color-light: $light-color
$heading--color-dark: $dark-color

// Text
$text--color-light: $light-color
$text--color-muted: $dove-gray
$text--color-dark: $dark-color

// Logo
$logo-text--color: $dark-color
$logo-dot--color: $accent-color

// Nav
$nav-link--color: $dark-color
$nav-link--border-color: $accent-color

// Burger
$burger--color: $dark-color

// Buttons
$button-color--primary: $dark-color
$button-bck--primary: $accent-color

// Border
$border-color--accent: $accent-color

// Icons
$icon--color-accent: $accent-color
$icon--color-dark: $dark-color

// Media
$media-icon--color-accent: $accent-color
$media-title--color: $light-color
$media-text--color: $light-color

// =================================
// Typography
// =================================

// Basic font family
$font-family--primary: 'Playfair Display', serif
$font-family--secondary: 'Open Sans', sans-serif

// Sizes
$base-font-size: 16
$bfs: $base-font-size

$h1--size: 68
$h2--size: 30
$h3--size: 21

$h1: $h1--size / $bfs

// Weights
$font-weight--normal: 400
$font-weight--bold: 700

// Text
$text-size--small: .875rem
$text-size--default: 1rem
$text-size--medium: 1.313rem

// Logo
$logo-text--size: 25px

// Button
$button-font-size: $text-size--default
